.idea/shelf
.idea/workspace.xml
availables.xml
/build
build.properties
mps-core/lib
mps-core/resources/messages
mps-core/languages
mps-java/lib
mps-java/META-INF/platform
mps-java/META-INF/JavaPlatform.xml
mps-vcs/lib
mps-vcs/languages
mps-vcs/META-INF/MPSVcs.xml
sandbox
tests/blProject/.idea/workspace.xml
tests/psiProject/.idea/workspace.xml
tests/multiModulesProject/.idea/workspace.xml
mps-testing/META-INF
mps-testing/lib
mps-testing/languages
mps.editor.tests/languages
mps.editor.tests/META-INF